body{
  margin: 0;
  font-family: 'Poiret One', cursive;
}

nav{
  /* margin: 0; */
  background-color: #444;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li{
  float: left;
}

nav li a{
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  background-color: yellow;
  color: black;
}

main{
  /* width: 100%;
  margin: auto; */
  height: 150vh;
  padding-top: 15vh;
}

section{
  display: inline-block;
  width: 100%;
  height: 50%;
  margin-left: 200px;
}

#resultlist{
  background-color: rgb(215, 236, 157);
  padding: 10vh 20vh;
}

img{
  margin-right: 1vh;
  width: 20%; 
  height: 30%;
  border: 2px black double;
  object-fit: scale-down;
}

.chart-container{
  display: block;
}

footer{
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  padding: 5vh;
  text-align: center;
}

