body{
  margin: 0;
  font-family: 'Poiret One', cursive;
}

nav{
  /* margin: 0; */
  background-color: #444;
  position: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  background-color: yellow;
  color: black;
}

main{
  width: 100%;
  margin: auto;
  height: 150vh;
  padding-top: 15vh;
}

section{
  display: inline-flex;
  width: 50%;
  height: 40%;
}

#resultlist li{
  background-color: rgb(215, 236, 157);
  padding: 5vh;
}

img{
  margin-right: 1vh;
  max-width: 50%;
  max-height: 50%;
  border: 2px black double;
}

.chart-container{
  display: block;
}

footer{
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  padding: 5vh;
  text-align: center;
}

